.verify-email-container {
    .verify-email-content {
        margin-top: 40px;
        .infor {
            text-align: center;
            text-transform: uppercase;
            color: red;
            font-weight: 600;
        }
    }

}